<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{design?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="design">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{design?.name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <object #svgObject id="svgObject" class="click-me"  type="image/svg+xml" [data]="design.url | safe: 'resourceUrl'"></object>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let color of colors; let index">
        <ion-button (click)="selectColor(color)" [style]="{background: color.hex}" [color]="color.hex" >{{color.color}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
