<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{design?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="design">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{design?.name}}</ion-title>
    </ion-toolbar>
  </ion-header>
<div id="objectContainer">
  <object style="max-width: 100%" #svgObject id="svgObject" class="click-me"  type="image/svg+xml" [data]="design.url | safe: 'resourceUrl'"></object>

</div>


  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let color of colors; let index">
        <ion-button (click)="selectColor(color)" [style]="{background: color.hex}" [color]="color.hex" >{{color.color}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button  (click)="printPdf()">Print Pdf</ion-button>

</ion-content>
